<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8">
    <title>Quiz</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%if (quiz.image){%>
    <p><img class="quiz_img" src="/media/<%= quiz.image %>"></p>
    <%}%>
    <form method="get" action="/quizes/<%=quiz.id%>/answer">
      Pregunta: <%= quiz.pregunta %> <br>
      <input type="text" name="respuesta" value="Respuesta" />
      <input type="submit" value="Enviar">
    </form><br>
    <%= quiz.esFav%>
        <% if (quiz.esFav) { %>
          <form method="post" action="/user/<%= session.user.id%>/favourites/<%= quiz.id%>?_method=delete"><button type="submit" onClick="return confirm('Desfavoritear: <%= quiz.pregunta %>');"><img src="/dorada.ico"></button></form>
        <% } else { %>
         <form method="post" action="/user/<%= session.user.id%>/favourites/<%= quiz.id %>?_method=put"><button type="submit"><img src="/gris.ico"></button></form>
         <%} %>

    <p><a href="/quizes/<%= quiz.id %>/comments/new"><button>Nuevo comentario</button></a></p>

    <p><strong>Comentarios:</strong></p>
    <%for(index in quiz.Comments){%>
      <%if(quiz.Comments[index].publicado){%>
        <p>- <%=quiz.Comments[index].texto%></p>
          <%} else if(session.user && (session.user.isAdmin || (session.user && quiz.userId === session.user.id))){%>
           <p>- <%=quiz.Comments[index].texto%>
            <a href="/quizes/<%= quiz.id %>/comments/<%=quiz.Comments[index].id%>/publish">
              <button>Publicar</button></a></p>
          <%}%>
        </p>
      <%}%>
  </body>
</html>